//reset, uncomment if you need
@import "reset";

//normalize
@import "normalize";

//fonts
@import "fonts";

//mixins
@import "mixins";

//mixins
@import "variables";

html, body {
    // overflow-x: hidden;
}
body {
    background: #F8F9F9;
    font-size: 14px;
    color: #03010F;
    min-width: 320px;
    position: relative;
    overflow-x: hidden; 
    font-family: 'Wix Madefor Display', sans-serif;
}

.container {
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    @include response-min(1025px) {
        max-width: 1390px;
    }
}

svg.icon {
    width: 24px;
    height: 24px;
}
p {
    margin: unset;
}
a {
    text-decoration: unset;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: $accent;
    }
}
button {
    border: unset;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $accent;
    color: $black;
    font-size: 13px;
    line-height: 1;
    transition: all 0.3s ease-in-out;
    font-weight: 400;
    min-width: 147px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    background-color: transparent;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 600;
    &:hover {
        color: $accent;
    }
    &:disabled {
        color: $gray3;
        border-color: $gray4;
    }

    &-bg {
        font-weight: 400;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black;
        font-size: 13px;
        line-height: 1;
        transition: all 0.3s ease-in-out;
        background: $accent;
        cursor: pointer;
        min-width: 147px;
        height: 47px;
        font-weight: 400;
        border-radius: 8px;
        font-family: 'Wix Madefor Display', sans-serif;

        &:hover {
            background: linear-gradient(122.94deg, #27E8B9 -19.67%, #14B890 104.38%);
            color: $black;
        }
        &:disabled {
            color: $gray3;
            background: $gray4;
        }
    }
}


.page {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    @include response-min(1025px) {
        padding: 0 15px;
        padding-top: 20px;
        max-width: 1390px;
        display: grid;
        grid-template-columns: 112px 1fr;
        gap: 32px;
    }

    &-content {
        display: flex;
        flex-direction: column;
        @include response(1025px) {
            padding: 20px 16px;
        }
    }
}

* {
    box-sizing: border-box;
}

//templates
@import "templates/template-name-example";
@import "templates/header";
@import "templates/footer";
@import "templates/sidebar";
@import "templates/top-notice";
@import "templates/main";
@import "templates/accounts";
@import "templates/reviews";
@import "templates/finance";
@import "templates/popup";
@import "templates/verification";
@import "templates/notice-popup";
@import "templates/trading-accounts";
@import "templates/refill-ok";
@import "templates/account";
@import "templates/partners";
@import "templates/conditions";
@import "templates/partners-calc";
@import "templates/referals";

.margin-v0 {
    margin-top: 0;
    margin-bottom: 0;
}

input {
    &[type="radio"] {
        width: 24px;
        height: 24px;
        border: 1px solid $gray4;
        position: relative;
        &:checked {
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                visibility: visible;
                background: #fff;
                border: 1px solid #B5B8BC;
                z-index: 10;
            }
            &::after {
                z-index: 11;
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                visibility: visible;
                background: $accent;
                background-color: $accent;
            }
        }
    }
}

h1,h2,h3,h4,h5, h6, .reviews__item--num, .reviews__last p,
.accounts__item,
.trading-accounts__name, .finance__content.empty p, .refill-ok__item--name,
.conditions__bottom p, .conditions__benefits--item p, .conditions__text h4,
.conditions__referal--title,  .partners__calc--reward-price {
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 600;
}
input {
    font-family: "Wix Madefor Display", sans-serif;
}