.main {
    background: #fff;
    border-radius: 24px;
    flex-grow: 1;
    box-shadow: 0px 0px 8px 0px rgba(221, 221, 221, 0.25);
    padding: 20px;
    @include response-min(1024px) {
        padding: 32px;
    }
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 16px;
        position: relative;
    }
    &__title {
        font-size: 24px;
        line-height: 1;
        font-weight: 700;
        color: $black;
        letter-spacing: 1px;
        margin: 0;
        display: flex;
        align-items: center;
        svg {
            margin-right: 6px;
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        @include response-min(1025px) {
            display: none;
        }
    }
    &__btns {
        display: none;
        gap: 16px;
        a {
            min-width: 144px;
        }
        @include response(1025px) {
            display: none;
            width: 102px;
            &.active {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 6px 12px;
                background: #fff;
                border-radius: 12px;
                box-shadow: 0px 0px 8px 0px rgba(145, 145, 145, 0.25);
                z-index: 10;
                top: 70%;
                right: 0;
                a {
                    background-color: unset;
                    padding: unset;
                    height: unset;
                    width: 100%;
                    color: $gray2;
                    border: unset;
                    text-align: left;
                    justify-content: flex-start;
                    min-width: unset;
                    &:hover {
                        color: $accent;
                    }
                }
            }
        }
        @include response-min(1025px) {
            display: flex;
        }
    }
    &__tabs {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        border-bottom: 1px solid $gray4;
        margin-bottom: 20px;
        @include response(1024px) {
            overflow-x: scroll;
        }
        &--item {
            font-size: 16px;
            line-height: 1;
            color: $gray2;
            padding-bottom: 12px;
            cursor: pointer;
            border-radius: 2px;
            @include response(1024px) {
                white-space: nowrap;
            }
            &.active {
                color: $black;
                border-bottom: 3px solid $black;
            }
        }
        &-content {
            display: none;
            &.active {
                display: block;
            }
        }
    }
}